openai-whisper==20231117
bitsandbytes==0.43.1
datasets==2.17.0
torchaudio==2.1.2
librosa==0.10.1
soundfile==0.12.1; platform_system=="Windows"
tiktoken @ git+https://github.com/swiss-german-speech-to-text/tiktoken@main
transformers==4.37.2 # Should be updated SOON but there are some issues with the latest version: https://github.com/huggingface/transformers/issues/38639
wandb==0.16.2
evaluate==0.4.1
jiwer==3.0.3
torch-audiomentations==0.11.1
minlora @ git+https://github.com/cccntu/minLoRA.git@main
